<link rel="import" href="packages/polymer/polymer.html">
<link rel="import" href="../card/card_view.html">

<polymer-element name="main-view">

  <template>
    <link rel="stylesheet" href="../../../resources/css/app.css">

    <style>
    </style>

    <h1>Card Shuffler</h1>

    <div class="flexbox-row-wrap box-container user-select-none card-deck">
      <template repeat="{{card in cardDeck.cards}}">
        <card-view card={{card}}></card-view>
      </template>
    </div>
    <div class="flexbox-row-nowrap flex-justify-end box-container user-select-none control-panel">
      <button class="btn btn-default" on-click="{{shuffle}}">Shuffle</button>
    </div>
  </template>

  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>