<polymer-element name="main-view">
  <link rel="import" href="../card/card_view.html">

  <template>
    <link rel="stylesheet" href="main_view.css" />

    <h1>Card Shuffler</h1>

    <div class="box-container card-deck">
      <template repeat="{{card in cardDeck.cards}}">
        <card-view card={{card}}></card-view>
      </template>
    </div>
    <div class="box-container control-panel">
      <button class="btn btn-default" on-click="{{shuffle}}">Shuffle</button>
    </div>
  </template>

  <script type="application/dart" src="main_view.dart"></script>
</polymer-element>