.box-container {
  display: -webkit-flex;
  display: -moz-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row wrap;
  border: 1px solid #ccc;
  background-color: white;
  padding: 10px;
  margin: 10px;
  width: 1070px;
  /*height: 420px;*/
  -webkit-user-select: none;
}

.card-deck {
  width: 925px;
  height: 550px;
}

.control-panel {
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  flex-flow: row nowrap;
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  justify-content: flex-end;
  width: 925px;
}

.btn, input, label {
  cursor: default !important;
}